.card {
  background: #F9FAFB;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 1.25rem 1.5rem;
  box-sizing: border-box;
  width: 100%;

  font-family: 'Inter', sans-serif;

  display: flex;
  flex-direction: column;

}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  margin: 0 0 0.5rem 0;

  line-height: 24px;

}

.description {
  font-size: 14px;
  font-weight: 500;
  color: #4B5563;
  line-height: 17px;
  margin: 0 0 1.5rem 0;

  flex-grow: 1;

}

.actionButton {
  width: 100%;

  padding: 0.7rem 1rem;

  border: none;
  border-radius: 6px;

  font-size: 14px;
  font-weight: 500;
  line-height: 17px;

  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  margin-top: auto;

}


.primary {
  background: #18181B;
}

.primary:hover {
  background-color: #343a40;
}


.danger {
  background: #EF4444;

}

.danger:hover {
  background-color: #DC2626;

}


@media (min-width: 768px) {
  .card {
    padding: 1.5rem 2rem;
  }


}